# EMPLOYEE PERFORMANCE ANALYSIS PROJECT

## importing packages

In [1]:
import pandas as pd
import matplotlib.pyplot as pl
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

## Use the Pandas method read_excel() to load the data

In [2]:
dataset = pd.read_excel('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls')
dataset

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3
5,E1001011,27,Male,Life Sciences,Divorced,Development,Developer,Travel_Frequently,10,2,...,3,9,4,2,9,7,1,7,No,4
6,E1001016,50,Male,Marketing,Married,Sales,Sales Representative,Travel_Rarely,8,4,...,4,4,2,3,2,2,2,2,No,3
7,E1001019,28,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,1,2,...,4,10,4,3,7,7,3,7,Yes,3
8,E1001020,36,Female,Life Sciences,Married,Development,Developer,Non-Travel,8,3,...,1,10,2,3,8,7,0,5,No,3
9,E1001021,38,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,1,3,...,4,10,4,4,1,0,0,0,No,3
10,E1001022,44,Male,Medical,Single,Development,Developer,Non-Travel,24,3,...,3,9,5,3,5,2,1,4,No,3
11,E1001024,47,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,3,...,4,28,2,2,22,2,11,13,No,3
12,E1001025,30,Male,Marketing,Divorced,Sales,Sales Executive,Travel_Rarely,27,5,...,4,10,2,2,8,7,7,7,No,4
13,E1001027,29,Male,Life Sciences,Single,Sales,Sales Representative,Travel_Rarely,10,3,...,3,1,6,3,1,0,0,0,No,3
14,E1001030,42,Male,Medical,Divorced,Development,Developer,Travel_Frequently,19,3,...,4,7,2,3,2,2,2,2,Yes,3
15,E1001035,34,Female,Medical,Single,Development,Developer,Travel_Rarely,8,2,...,4,10,2,3,5,1,4,3,No,3
16,E1001038,39,Female,Human Resources,Married,Human Resources,Human Resources,Travel_Rarely,3,3,...,3,12,3,1,8,3,3,6,No,3
17,E1001040,56,Male,Medical,Married,Development,Developer,Travel_Rarely,9,3,...,3,30,1,2,10,7,1,1,No,3
18,E1001041,40,Female,Medical,Single,Development,Developer,Travel_Rarely,2,1,...,4,5,2,2,4,2,2,3,No,4
19,E1001042,27,Female,Medical,Single,Development,Developer,Travel_Rarely,7,3,...,1,9,2,1,7,6,0,7,No,3
20,E1001044,29,Male,Marketing,Divorced,Sales,Sales Representative,Travel_Rarely,10,3,...,4,2,2,3,2,2,2,2,No,3
21,E1001047,53,Male,Life Sciences,Single,Development,Developer,Travel_Rarely,6,3,...,4,19,4,3,2,2,2,2,No,3
22,E1001049,35,Female,Life Sciences,Divorced,Development,Senior Developer,Non-Travel,2,4,...,1,16,2,4,1,0,0,0,No,3
23,E1001050,32,Male,Life Sciences,Married,Development,Developer,Travel_Frequently,24,4,...,4,10,2,3,10,8,4,7,No,3
24,E1001053,34,Female,Life Sciences,Divorced,Development,Developer,Travel_Rarely,8,5,...,3,7,3,3,0,0,0,0,No,3
25,E1001054,52,Male,Marketing,Married,Sales,Manager,Travel_Rarely,3,4,...,1,34,3,4,34,6,1,16,No,4
26,E1001058,33,Male,Other,Single,Development,Developer,Travel_Rarely,1,4,...,3,10,2,2,10,9,7,8,Yes,3
27,E1001059,25,Female,Medical,Single,Sales,Sales Executive,Travel_Rarely,26,1,...,2,6,5,2,6,5,1,4,No,4
28,E1001061,45,Male,Technical Degree,Single,Sales,Sales Representative,Travel_Rarely,2,2,...,1,9,3,3,8,7,3,1,No,3
29,E1001062,23,Male,Medical,Single,Development,Developer,Travel_Rarely,10,1,...,4,2,3,3,2,2,0,2,No,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170,E100940,38,Female,Life Sciences,Single,Development,Developer,Travel_Rarely,1,1,...,4,8,3,2,0,0,0,0,No,3
1171,E100941,43,Male,Medical,Divorced,Development,Senior Developer,Travel_Frequently,9,5,...,2,10,3,3,8,7,4,7,No,3
1172,E100942,48,Female,Life Sciences,Married,Development,Senior Developer,Travel_Rarely,1,4,...,1,21,3,1,3,2,0,2,No,3
1173,E100943,44,Female,Life Sciences,Single,Human Resources,Human Resources,Travel_Rarely,1,4,...,2,10,1,4,2,2,0,2,No,3
1174,E100944,34,Female,Technical Degree,Divorced,Sales,Sales Representative,Travel_Rarely,14,3,...,4,8,3,3,8,2,0,6,No,3
1175,E100945,27,Male,Marketing,Divorced,Sales,Sales Representative,Travel_Rarely,2,1,...,2,5,3,3,4,3,0,2,Yes,3
1176,E100947,21,Male,Technical Degree,Single,Sales,Sales Representative,Travel_Rarely,22,1,...,3,3,2,3,3,2,1,2,No,3
1177,E100949,44,Male,Other,Married,Development,Senior Developer,Travel_Rarely,3,4,...,1,26,2,4,2,2,0,1,No,3
1178,E100953,22,Male,Medical,Married,Development,Developer,Travel_Rarely,6,1,...,4,3,3,3,2,2,2,2,No,3
1179,E100957,32,Female,Life Sciences,Married,Development,Developer,Travel_Rarely,9,4,...,4,6,2,2,6,4,0,5,No,3
1180,E100958,30,Female,Medical,Divorced,Development,Developer,Travel_Frequently,3,3,...,3,1,2,3,1,0,0,0,No,4
1181,E100961,34,Male,Life Sciences,Married,Development,Senior Developer,Travel_Rarely,1,5,...,4,10,4,2,10,9,8,8,No,3
1182,E100964,26,Female,Life Sciences,Married,Development,Developer,Travel_Rarely,6,3,...,3,3,2,3,3,2,0,2,No,3
1183,E100967,37,Male,Other,Married,Development,Developer,Travel_Rarely,3,3,...,3,10,2,3,10,7,7,8,No,3
1184,E100968,29,Female,Medical,Married,Sales,Sales Executive,Travel_Rarely,3,2,...,1,6,5,2,6,0,1,2,No,3
1185,E100969,35,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,6,4,...,2,17,3,3,17,11,11,8,No,3
1186,E100976,54,Male,Medical,Married,Human Resources,Human Resources,Travel_Rarely,19,4,...,3,16,1,4,9,7,7,1,No,3
1187,E100977,36,Male,Medical,Divorced,Development,Developer,Travel_Rarely,9,2,...,3,13,2,3,3,2,0,2,No,3
1188,E100979,20,Male,Medical,Single,Development,Senior Developer,Travel_Rarely,10,1,...,4,1,5,3,1,0,1,1,Yes,3
1189,E100980,33,Male,Life Sciences,Single,Development,Senior Developer,Travel_Frequently,3,3,...,1,10,3,3,10,8,9,7,Yes,3
1190,E100983,23,Male,Medical,Married,Development,Developer,Travel_Rarely,4,3,...,1,5,3,4,3,2,0,2,No,4
1191,E100985,25,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Rarely,8,3,...,3,4,4,3,3,2,1,2,No,4
1192,E100987,38,Female,Marketing,Single,Sales,Sales Executive,Travel_Rarely,7,4,...,1,8,2,3,7,7,0,5,No,4
1193,E100988,29,Male,Life Sciences,Divorced,Development,Developer,Travel_Frequently,1,4,...,4,10,5,3,10,7,2,8,No,3
1194,E100990,48,Male,Marketing,Married,Sales,Sales Executive,Travel_Rarely,2,1,...,4,12,3,3,2,2,2,2,No,3
1195,E100992,27,Female,Medical,Divorced,Sales,Sales Executive,Travel_Frequently,3,1,...,2,6,3,3,6,5,0,4,No,4
1196,E100993,37,Male,Life Sciences,Single,Development,Senior Developer,Travel_Rarely,10,2,...,1,4,2,3,1,0,0,0,No,3
1197,E100994,50,Male,Medical,Married,Development,Senior Developer,Travel_Rarely,28,1,...,3,20,3,3,20,8,3,8,No,3
1198,E100995,34,Female,Medical,Single,Data Science,Data Scientist,Travel_Rarely,9,3,...,2,9,3,4,8,7,7,7,No,3
1199,E100998,24,Female,Life Sciences,Single,Sales,Sales Executive,Travel_Rarely,3,2,...,1,4,3,3,2,2,2,0,Yes,2

## Use the method head() to display the first five rows of the dataframe

In [3]:
dataset.head()

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3
2,E1001007,40,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Frequently,5,4,...,3,20,2,3,18,13,1,12,No,4
3,E1001009,41,Male,Human Resources,Divorced,Human Resources,Manager,Travel_Rarely,10,4,...,2,23,2,2,21,6,12,6,No,3
4,E1001010,60,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,16,4,...,4,10,1,3,2,2,2,2,No,3

## Saving the data

In [4]:
dataset.to_csv('INX_Future_Inc_Employee_Performance_Exploratory.csv',index=False)

## shape of the data

In [5]:
dataset.shape

(1200, 28)

## Use the method describe() to view some statistical detail

In [6]:
dataset.describe()# summarize the data

,Age,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,EmpHourlyRate,EmpJobInvolvement,EmpJobLevel,EmpJobSatisfaction,NumCompaniesWorked,EmpLastSalaryHikePercent,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,PerformanceRating
count,1200.000000,1200.000000,1200.00000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
mean,36.918333,9.165833,2.89250,2.715833,65.981667,2.731667,2.067500,2.732500,2.665000,15.222500,2.725000,11.330000,2.785833,2.744167,7.077500,4.291667,2.194167,4.105000,2.948333
std,9.087289,8.176636,1.04412,1.090599,20.211302,0.707164,1.107836,1.100888,2.469384,3.625918,1.075642,7.797228,1.263446,0.699374,6.236899,3.613744,3.221560,3.541576,0.518866
min,18.000000,1.000000,1.00000,1.000000,30.000000,1.000000,1.000000,1.000000,0.000000,11.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000
25%,30.000000,2.000000,2.00000,2.000000,48.000000,2.000000,1.000000,2.000000,1.000000,12.000000,2.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000,3.000000
50%,36.000000,7.000000,3.00000,3.000000,66.000000,3.000000,2.000000,3.000000,2.000000,14.000000,3.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000,3.000000
75%,43.000000,14.000000,4.00000,4.000000,83.000000,3.000000,3.000000,4.000000,4.000000,18.000000,4.000000,15.000000,3.000000,3.000000,10.000000,7.000000,3.000000,7.000000,3.000000
max,60.000000,29.000000,5.00000,4.000000,100.000000,4.000000,5.000000,4.000000,9.000000,25.000000,4.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000,4.000000

## Some information about data

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 28 columns):
EmpNumber                       1200 non-null object
Age                             1200 non-null int64
Gender                          1200 non-null object
EducationBackground             1200 non-null object
MaritalStatus                   1200 non-null object
EmpDepartment                   1200 non-null object
EmpJobRole                      1200 non-null object
BusinessTravelFrequency         1200 non-null object
DistanceFromHome                1200 non-null int64
EmpEducationLevel               1200 non-null int64
EmpEnvironmentSatisfaction      1200 non-null int64
EmpHourlyRate                   1200 non-null int64
EmpJobInvolvement               1200 non-null int64
EmpJobLevel                     1200 non-null int64
EmpJobSatisfaction              1200 non-null int64
NumCompaniesWorked              1200 non-null int64
OverTime                        1200 non-null object
EmpLastSalaryHikePercent        1200 non-null int64
EmpRelationshipSatisfaction     1200 non-null int64
TotalWorkExperienceInYears      1200 non-null int64
TrainingTimesLastYear           1200 non-null int64
EmpWorkLifeBalance              1200 non-null int64
ExperienceYearsAtThisCompany    1200 non-null int64
ExperienceYearsInCurrentRole    1200 non-null int64
YearsSinceLastPromotion         1200 non-null int64
YearsWithCurrManager            1200 non-null int64
Attrition                       1200 non-null object
PerformanceRating               1200 non-null int64
dtypes: int64(19), object(9)
memory usage: 262.6+ KB

## Including only string columns in a dataset description

In [8]:
dataset.describe(include=[np.object])

,EmpNumber,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,OverTime,Attrition
count,1200,1200,1200,1200,1200,1200,1200,1200,1200
unique,1200,2,6,3,6,19,3,2,2
top,E1001749,Male,Life Sciences,Married,Sales,Sales Executive,Travel_Rarely,No,No
freq,1,725,492,548,373,270,846,847,1022

## Evaluating for Missing Data

In [9]:
missing_data = dataset.isnull().sum
missing_data

<bound method DataFrame.sum of       EmpNumber    Age  Gender  EducationBackground  MaritalStatus  \
0         False  False   False                False          False
1         False  False   False                False          False
2         False  False   False                False          False
3         False  False   False                False          False
4         False  False   False                False          False
5         False  False   False                False          False
6         False  False   False                False          False
7         False  False   False                False          False
8         False  False   False                False          False
9         False  False   False                False          False
10        False  False   False                False          False
11        False  False   False                False          False
12        False  False   False                False          False
13        False  False   False                False          False
14        False  False   False                False          False
15        False  False   False                False          False
16        False  False   False                False          False
17        False  False   False                False          False
18        False  False   False                False          False
19        False  False   False                False          False
20        False  False   False                False          False
21        False  False   False                False          False
22        False  False   False                False          False
23        False  False   False                False          False
24        False  False   False                False          False
25        False  False   False                False          False
26        False  False   False                False          False
27        False  False   False                False          False
28        False  False   False                False          False
29        False  False   False                False          False
...         ...    ...     ...                  ...            ...
1170      False  False   False                False          False
1171      False  False   False                False          False
1172      False  False   False                False          False
1173      False  False   False                False          False
1174      False  False   False                False          False
1175      False  False   False                False          False
1176      False  False   False                False          False
1177      False  False   False                False          False
1178      False  False   False                False          False
1179      False  False   False                False          False
1180      False  False   False                False          False
1181      False  False   False                False          False
1182      False  False   False                False          False
1183      False  False   False                False          False
1184      False  False   False                False          False
1185      False  False   False                False          False
1186      False  False   False                False          False
1187      False  False   False                False          False
1188      False  False   False                False          False
1189      False  False   False                False          False
1190      False  False   False                False          False
1191      False  False   False                False          False
1192      False  False   False                False          False
1193      False  False   False                False          False
1194      False  False   False                False          False
1195      False  False   False                False          False
1196      False  False   False                False          False
1197      False  False   False                False          False
1198      False  False   False                False          False
1199      False  False   False                False          False

      EmpDepartment  EmpJobRole  BusinessTravelFrequency  DistanceFromHome  \
0             False       False                    False             False
1             False       False                    False             False
2             False       False                    False             False
3             False       False                    False             False
4             False       False                    False             False
5             False       False                    False             False
6             False       False                    False             False
7             False       False                    False             False
8             False       False                    False             False
9             False       False                    False             False
10            False       False                    False             False
11            False       False                    False             False
12            False       False                    False             False
13            False       False                    False             False
14            False       False                    False             False
15            False       False                    False             False
16            False       False                    False             False
17            False       False                    False             False
18            False       False                    False             False
19            False       False                    False             False
20            False       False                    False             False
21            False       False                    False             False
22            False       False                    False             False
23            False       False                    False             False
24            False       False                    False             False
25            False       False                    False             False
26            False       False                    False             False
27            False       False                    False             False
28            False       False                    False             False
29            False       False                    False             False
...             ...         ...                      ...               ...
1170          False       False                    False             False
1171          False       False                    False             False
1172          False       False                    False             False
1173          False       False                    False             False
1174          False       False                    False             False
1175          False       False                    False             False
1176          False       False                    False             False
1177          False       False                    False             False
1178          False       False                    False             False
1179          False       False                    False             False
1180          False       False                    False             False
1181          False       False                    False             False
1182          False       False                    False             False
1183          False       False                    False             False
1184          False       False                    False             False
1185          False       False                    False             False
1186          False       False                    False             False
1187          False       False                    False             False
1188          False       False                    False             False
1189          False       False                    False             False
1190          False       False                    False             False
1191          False       False                    False             False
1192          False       False                    False             False
1193          False       False                    False             False
1194          False       False                    False             False
1195          False       False                    False             False
1196          False       False                    False             False
1197          False       False                    False             False
1198          False       False                    False             False
1199          False       False                    False             False

      EmpEducationLevel  ...  EmpRelationshipSatisfaction  \
0                 False  ...                        False
1                 False  ...                        False
2                 False  ...                        False
3                 False  ...                        False
4                 False  ...                        False
5                 False  ...                        False
6                 False  ...                        False
7                 False  ...                        False
8                 False  ...                        False
9                 False  ...                        False
10                False  ...                        False
11                False  ...                        False
12                False  ...                        False
13                False  ...                        False
14                False  ...                        False
15                False  ...                        False
16                False  ...                        False
17                False  ...                        False
18                False  ...                        False
19                False  ...                        False
20                False  ...                        False
21                False  ...                        False
22                False  ...                        False
23                False  ...                        False
24                False  ...                        False
25                False  ...                        False
26                False  ...                        False
27                False  ...                        False
28                False  ...                        False
29                False  ...                        False
...                 ...  ...                          ...
1170              False  ...                        False
1171              False  ...                        False
1172              False  ...                        False
1173              False  ...                        False
1174              False  ...                        False
1175              False  ...                        False
1176              False  ...                        False
1177              False  ...                        False
1178              False  ...                        False
1179              False  ...                        False
1180              False  ...                        False
1181              False  ...                        False
1182              False  ...                        False
1183              False  ...                        False
1184              False  ...                        False
1185              False  ...                        False
1186              False  ...                        False
1187              False  ...                        False
1188              False  ...                        False
1189              False  ...                        False
1190              False  ...                        False
1191              False  ...                        False
1192              False  ...                        False
1193              False  ...                        False
1194              False  ...                        False
1195              False  ...                        False
1196              False  ...                        False
1197              False  ...                        False
1198              False  ...                        False
1199              False  ...                        False

      TotalWorkExperienceInYears  TrainingTimesLastYear  EmpWorkLifeBalance  \
0                          False                  False               False
1                          False                  False               False
2                          False                  False               False
3                          False                  False               False
4                          False                  False               False
5                          False                  False               False
6                          False                  False               False
7                          False                  False               False
8                          False                  False               False
9                          False                  False               False
10                         False                  False               False
11                         False                  False               False
12                         False                  False               False
13                         False                  False               False
14                         False                  False               False
15                         False                  False               False
16                         False                  False               False
17                         False                  False               False
18                         False                  False               False
19                         False                  False               False
20                         False                  False               False
21                         False                  False               False
22                         False                  False               False
23                         False                  False               False
24                         False                  False               False
25                         False                  False               False
26                         False                  False               False
27                         False                  False               False
28                         False                  False               False
29                         False                  False               False
...                          ...                    ...                 ...
1170                       False                  False               False
1171                       False                  False               False
1172                       False                  False               False
1173                       False                  False               False
1174                       False                  False               False
1175                       False                  False               False
1176                       False                  False               False
1177                       False                  False               False
1178                       False                  False               False
1179                       False                  False               False
1180                       False                  False               False
1181                       False                  False               False
1182                       False                  False               False
1183                       False                  False               False
1184                       False                  False               False
1185                       False                  False               False
1186                       False                  False               False
1187                       False                  False               False
1188                       False                  False               False
1189                       False                  False               False
1190                       False                  False               False
1191                       False                  False               False
1192                       False                  False               False
1193                       False                  False               False
1194                       False                  False               False
1195                       False                  False               False
1196                       False                  False               False
1197                       False                  False               False
1198                       False                  False               False
1199                       False                  False               False

      ExperienceYearsAtThisCompany  ExperienceYearsInCurrentRole  \
0                            False                         False
1                            False                         False
2                            False                         False
3                            False                         False
4                            False                         False
5                            False                         False
6                            False                         False
7                            False                         False
8                            False                         False
9                            False                         False
10                           False                         False
11                           False                         False
12                           False                         False
13                           False                         False
14                           False                         False
15                           False                         False
16                           False                         False
17                           False                         False
18                           False                         False
19                           False                         False
20                           False                         False
21                           False                         False
22                           False                         False
23                           False                         False
24                           False                         False
25                           False                         False
26                           False                         False
27                           False                         False
28                           False                         False
29                           False                         False
...                            ...                           ...
1170                         False                         False
1171                         False                         False
1172                         False                         False
1173                         False                         False
1174                         False                         False
1175                         False                         False
1176                         False                         False
1177                         False                         False
1178                         False                         False
1179                         False                         False
1180                         False                         False

<B>There is no missing value</B>